* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #fff;
}

#main {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle at center, wheat 0%, gray 50%, black 100%);
  padding: 10px;

  .mute {
    background-color: #6b6969;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;

    i {
      font-size: 2rem;
      pointer-events: none;
      font-weight: 600;
    }

    &:active {
      scale: 0.95;
    }
  }
  #card {
    height: 100%;
    width: 400px;
    background-color: #110101;
    margin: auto;
    border-radius: 10px;
    position: relative;
    user-select: none;

    .myreels {
      height: 100%;
      width: 100%;
      overflow: auto;
      border-radius: 10px;

      scroll-snap-type: y mandatory;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        display: none;
      }

      .reels {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;
        scroll-snap-align: start;
        scroll-snap-stop: always;

        video {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        .buttom {
          width: 100%;
          padding: 20px 30px;
          background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.829));
          position: absolute;
          bottom: 0;
          border-radius: 10px;

          .user {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 15px;

            img {
              height: 40px;
              width: 40px;
              border-radius: 30%;
              object-fit: cover;
            }
            h2 {
              font-size: 1.5rem;
              color: #ffffff;
            }
            button {
              background-color: transparent;
              color: whitesmoke;
              padding: 3px 8px;
              font-size: 15px;
              font-weight: 500;
              border: 1px solid white;
              border-radius: 5px;
              cursor: pointer;

              &:active {
                transform: scale(0.96);
              }
            }
          }
          h3 {
            color: #b5b5b5;
            font-weight: 500;
            font-size: 1.3rem;
          }
        }
        .right {
          width: 40px;
          right: 0;
          bottom: 13%;
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          text-align: center;
          margin-right: 15px;
          cursor: pointer;
          i {
            font-size: 2rem;
          }
          .love {
            color: red;
          }
          h4 {
            pointer-events: none;
          }
          span {
            font-size: 1.2rem;
            font-weight: 600;
            color: wheat;
            pointer-events: none;
          }
          div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
          }
        }
      }
    }
  }
}
