* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: rgb(12, 0, 0);
  padding: 20px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  user-select: none;
  position: relative;

  #card {
    // height: 450px;
    width: 400px;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    

    transition: all ease-in-out 0.3s;
    transform: translateY(0px);
    &:hover {
      transform: translateY(-10px);
      box-shadow: 30px 45px 30px rgb(0, 85, 255);
    }

    img {
      height: 300px;
      width: 300px;
      object-fit: cover;
      object-position: bottom;
      border-radius: 30%;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 2.7rem;
      font-weight: 500;
      font-family: monospace;
      white-space: nowrap;
    }
    h3 {
      font-size: 40px;
      font-family: system-ui;
      font-weight: 500;
      margin-bottom: 7px;
      color: rgb(10, 167, 251);
      white-space: nowrap;
    }
    p {
      font-size: 1.5rem;
      font-weight: 600;
      font-style: oblique;
    }
  }
}
